.SeatPage
{

    background:url('images/Thirdbg..jpg') center/cover no-repeat;
    height:120vh;
    position:relative;





}


*{

    margin:0;
    padding:0;
    box-sizing :border-box;
    font-family:'Poppins' sans-serif;
   


}


.SeatPage h1
{

    text-align:center;
    color: #3b5fbf;
    font-size:50px;
    font-weight:600;
    margin-bottom:50px;
    text-shadow: 0 15px 30px rgba(0,0,0,0.15);
    text-shadow: 0 4px 12px rgba(59,95,191,0.35);


}


/*Seat Card Containers*/

.Seat-Container
{

    display:flex;
    justify-content:center;
    gap:60px;
    flex-wrap:wrap;


}

/*Individual Cards*/

.Seat-Card
{

    background:white;
    width:260px;
    padding:40px;
    text-align: center;
    border-radius:12px;
    cursor:pointer;
    transition:transform 0.3 ease,box-shadow 0.35s shadow;
    margin:10px;




}
.Seat-Card img
{

    width:100%;
    height:260px;
    object-fit:cover;
    border-radius:12px;
    transition:transform 0.3 ease;





}

.Seat-Card p
{

        margin-top:18px;
        font-size:20px;
        font-weight:600;
        color: #3b5fbf;
        letter-spacing: 1px;

        text-shadow: 0 4px 12px rgba(59,95,191,0.35);

}

.Seat-Card:hover
{

    transform:translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);




}

.Seat-Card:hover img
{
    transform:scale(1.05);

}
